@use 'src/styles/vars.scss' as vars;

.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0 2rem;
  gap: 41px;
}

.companyCard {
  border-radius: 23px;
  background: linear-gradient(180deg, transparent 30%, rgba(104, 153, 229, 0.8) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px 30px 30px 30px;
  height: 485px;
  cursor: pointer;
  box-shadow: inset 0 0 0 3px #6394E0;
  transition: flex 0.3s ease-in-out;
  position: relative;
}

.expanded {
  flex: 2;
}

.collapsed {
  flex: 1;
}

.visitButton {
  position: absolute;
  top: 30px;
  right: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 115px;
  height: 46px;
  justify-content: center;
  border-radius: 30px;
  background: linear-gradient(180deg, #E5A7DD 0%, #7FA5EF 100%);
  padding: 8px 6px;
  box-sizing: border-box;
  text-decoration: none;
  color: vars.$black;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;

  .visitArrow {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
  }
}

.visible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fadeHidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.companyInfo {
  position: absolute;
  bottom: 55px;
  left: 30px;
  right: 30px;
}

.sponsorTag {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: inline-block;
  background: vars.$white;
  color: vars.$black;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 30px;
  margin-bottom: 10px;
  width: auto;
}

.companyName {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  color: vars.$white;
}

.companyDescription {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  font-size: 14px;
  color: vars.$white;
  font-weight: 600;
}
