@use 'src/styles/vars.scss' as vars;
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.faqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2.5rem 5.5rem 4.5rem;

  .faqTitle {
    margin-bottom: 2.13rem;
    font-size: 3.375rem;
    font-weight: 500;
  }
}
