@use 'src/styles/vars.scss' as vars;

.container {
  position: relative;
  min-height: 100vh;
  padding: 200px 40px 40px;
  overflow: hidden;
  overscroll-behavior: auto;

  @media only screen and (max-width: 768px) {
    min-height: 120vh;
    padding-top: 20vw;
  }

  .content {
    position: relative;
    z-index: 100;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    min-height: calc(50vh - 80px);
  }

  .cloudBottomLeft {
    max-width: 140vw;
    max-height: 140vh;
    width: 50%;
    position: absolute;
    bottom: -25vh;
    left: -25vw;
    z-index: 0;
    opacity: 0.9;
    pointer-events: none;
  }

  .planet {
    position: relative;
    top: 20%;
    left: 6%;
    width: 16vw;
    max-width: 290px;
    pointer-events: none;
  }

  .descriptionRow {
    position: relative;
    width: 100%;

    > div:first-child {
      max-width: 50%;
    }
  }

  .raccoon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-width: 40vw;
    height: auto;
    pointer-events: none;
  }

  @media only screen and (max-width: 768px) {
    .content {
      min-height: 100vw;
    }

    .planet {
      top: 0;
      left: 50%;
      width: 50%;
      margin-bottom: 10vw;
    }

    .descriptionRow > div:first-child {
      max-width: 100%;
    }

    .raccoon {
      top: 100%;
      right: 0;
      transform: translateY(10%);
      max-width: 60vw;
    }

    .cloudBottomLeft {
      display: none;
    }
  }
}
