.ship {
  margin: 0.75rem;
}

.navItem {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-right: 1rem;
}

.navItem:hover {
  text-shadow: white 1px 0 10px;
}

.sections {
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  .shipDialog {
    margin: 0.75rem;
  }

  .navItem {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}
