@use 'src/styles/vars.scss' as vars;

.container {
  color: vars.$white;
  text-shadow: 0 1.5px 1.5px vars.$black;
  max-width: 620px;

  .headerWrapper {
    display: block;
    margin-bottom: 1rem;
  }

  .header {
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 54px;
    color: vars.$white;
    line-height: 1.1;
  }

  .description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 33px;
    line-height: 1.25;
    color: vars.$white;
    margin: 0;
  }

  @media only screen and (max-width: 768px) {
    .header {
      font-size: 36px;
    }
    .description {
      font-size: 5vw;
      max-width: 70%;
    }
  }
}
