@use 'src/styles/vars.scss' as vars;

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 50vw;

  .pill {
    border: 2px solid #6f9ceb;
    border-radius: 999px;
    padding: 0.75rem 1.75rem;
    color: vars.$white;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0 1.5px 1.5px vars.$black;
    background: rgba(20, 20, 30, 0.25);
  }

  @media only screen and (max-width: 768px) {
    max-width: 90vw;
    gap: 0.2rem;

    .pill {
      padding: 0.5rem 0.7rem;
      font-size: 1.3rem;
      border: 1px solid #6f9ceb;
    }
  }
}
